<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<div class="footer nav navbar navbar-full bg-faded" style="border: transparent; height: fit-content">
  <div class="text-center">
    <div class="row">
      <p class="whitetext">Veloom ÉTS</p>
      <hr style="width: 50%">
      <a
        href="https://www.instagram.com/veloom_ets/?fbclid=IwAR0Cfeazv6rWMMLBrOZ6cGPKmCr841L9K9GoZNLxfzAIv1l914GEtRHYXrw"><i
        class="fa fa-instagram whitelogo"></i></a>
      <a href="https://github.com/VeloomETS/"><i class="fa fa-github whitelogo" style="margin-left: 5%"></i></a>
      <br *ngIf="mobileQuery.matches">
      <a href=""><i class="fa fa-envelope whitelogo" style="margin-left: 5%"></i><span style="color:#038200"> veloom@ens.etsmtl.ca</span></a>
      <br *ngIf="mobileQuery.matches">
      <a href=""><i class="fa fa-map-marker whitelogo" style="margin-left: 5%"></i><span
        style="color: #038200; padding: 0">{{ "Footer.adresse" | translate}}</span></a>
    </div>
  </div>
</div>

