<div class="wrapper">
  <section class="section section-lg">
    <div class="container">
      <div class="wrapper">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5 mt-lg-5">
            <video autoplay [muted]="true" id='logoVideo'
                   [hidden]="mobileQuery.matches">
              <source autoplay loop src="https://drive.google.com/uc?id=1V9Klz6h0iImp9c2UbMwndIE5Pd5NNuUR"
                      type="video/mp4">
            </video>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <div style="width: 100%">
                <h5 class="description" style="margin-bottom:5px">{{ 'Home.Slogan1-1' | translate}}<span style="color:#038200">{{ 'Home.Slogan1-2' | translate}}</span>{{ 'Home.Slogan1-3' | translate}}<span style="color:#038200">{{ 'Home.Slogan1-4' | translate}}</span>
                  {{ 'Home.Slogan1-5' | translate}}</h5>
                <h1 style="margin-bottom: 10px; margin-top:0px">{{ 'Home.Titre' | translate}}</h1>
                <h5 class="description" style="float: right; margin-top: 0px"><span
                  style="color: #038200">{{ 'Home.Slogan2-1' | translate}}</span>
                  {{ 'Home.Slogan2-2' | translate}} <span
                    style="color: #038200">{{ 'Home.Slogan2-3' | translate}}</span></h5>
              </div>
              <div id="bouttonConteneur" class="boutton-contenu" style="width: 100%; float: right;">
                <a href="#projet" style="color: transparent">
                  <button mat-button class="boutton-acceuil"><h5 class="description">{{ 'Home.Bouton-projet' | translate}} <span
                    class="material-icons" style="color:darkgreen">arrow_forward</span></h5></button>
                </a>
                <button mat-button class="boutton-acceuil" [routerLink]="['/equipe']"><h5 class="description">
                  {{ 'Home.Bouton-membres' | translate}} <span
                  class="material-icons" style="color:darkgreen">arrow_forward</span></h5></button>
                <button mat-button class="boutton-acceuil" [routerLink]="['/competitions']"><h5 class="description">
                  {{ 'Home.Bouton-competitions' | translate}}
                  <span class="material-icons" style="color:darkgreen">arrow_forward</span></h5></button>
                <button mat-button class="boutton-acceuil" [routerLink]="['/galerie']"><h5 class="description">
                  {{ 'Home.Bouton-galerie' | translate}}
                  <span class="material-icons" style="color:darkgreen">arrow_forward</span></h5></button>
                <button mat-button class="boutton-acceuil" [routerLink]="['/partenaires']"><h5 class="description">
                  {{ 'Home.Bouton-partenaires' | translate}}
                  <span class="material-icons" style="color:darkgreen">arrow_forward</span></h5></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <h5 style="color: darkgreen">{{ 'Home.Phrase-accrochante' | translate}}</h5>
        <p style="color: darkgreen; font-size: 150%;">{{ 'Home.Phrase-résultats-compétition1' | translate}}</p>
        <h5 style="color: darkgreen">{{ 'Home.Phrase-résultats-compétition2' | translate}}</h5>
        <h5 style="color: darkgreen">{{ 'Home.Phrase-résultats-compétition3' | translate}}</h5>
      </div>
    </div>
  </section>
  <app-projet id="projet"></app-projet>
  <app-contact></app-contact>
  <app-footer></app-footer>
</div>
