<carousel loop="true" autoplay="true">
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1fwvZn9GVYgL2_FKEVVv_280RSlriVepM" alt="logoAEETS"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=18jqr3N-KCRBSyxr5H-3-igdH2TBafPSV" alt="logoVentilon"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1LFQUZ-1FJFvz-WSNg5acmE2jCFm2jG2d" alt="logoCTA"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1jW4_pKla5Etn-fQ6q3T3O8d_cH9GkANF" alt="logoETS"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1fwvZn9GVYgL2_FKEVVv_280RSlriVepM" alt="logoAEETS"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=18jqr3N-KCRBSyxr5H-3-igdH2TBafPSV" alt="logoVentilon"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1LFQUZ-1FJFvz-WSNg5acmE2jCFm2jG2d" alt="logoCTA"/>
  </div>
  <div class="carousel-cell">
    <img src="https://drive.google.com/uc?id=1jW4_pKla5Etn-fQ6q3T3O8d_cH9GkANF" alt="logoETS"/>
  </div>
</carousel>
