<section class="section section-lg">
  <div class="container">
    <h1>Propulser par nos partenaires</h1>
    <h5 class="description">S’associer à VÉLOOM ÉTS est une manière de tisser des liens entre le monde du travail et les
      futur(e)s bachelier(es) en ingénierie.</h5>
    <div class="separator separator-primary" style="background-color: #038200; text-align: justify"></div>
    <div class="row row-grid justify-content-between">
      <div class="col-md-5 mt-lg-5">
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>ÉTS</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">school</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">10 600</h4>
              <h4 style="margin-top: 0;">étudiants</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>Compétition</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+900</h4>
              <h4 style="margin-top: 0;">participants</h4>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>Ingénierie</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">miscellaneous_services</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">6</h4>
              <h4 style="margin-top: 0;">domaines</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>Évènements</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+4 000</h4>
              <h4 style="margin-top: 0;">participants</h4>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="pl-md-5" style="text-align: justify">
          <h3>
            Faire briller<br/>

            le génie québécois
          </h3>
          <p>
            Plusieurs membres de Veloom se sont précédemment impliqués dans le monde des véhicules durables. Ces
            expériences passées nous tiennent à cœurs parce que c’est à partir de ces passions que le club à vue le
            jour. La symbiose entre le domaine du génie et le mode de vie actif nous inspire à mettre au jours ce
            regroupement étudiant qui se veut mettre en valeur la vie active.
          </p>
          <br/>
          <p style="color: #038200; font-size: 110%;">Jusqu’à aujourd’hui, la conception d’un véhicule à propulsion
            humaine a toujours été un rêve pour l’équipe et c’est avec votre aide que nous espérons le réaliser.</p>
          <br/>
          <a
            class="font-weight-bold text-info mt-5"
            href="https://drive.google.com/uc?id=18NfarnKVKkCqhwxS8ECUIUsvGz6OYGUY"
            download
          >
            Télécharger notre document de partenariat <i class="material-icons"
                                                         style="font-size: small">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <h3 class="text-center">Avantages</h3>
  <div class="row" style="text-align: center;">
    <div class="col-lg-4">
      <div class="info">
        <span class="material-icons" style="color: #D6CE15" *ngIf="!this.mobileQuery.matches">remove_red_eye</span>
        <h4 class="info-title"><span class="material-icons" style="color: #D6CE15" *ngIf="this.mobileQuery.matches">remove_red_eye</span> La visibilité</h4>
        <hr class="line-warning" style="border-color: #038200"/>

        <p>
          Rejoignez un total de +25 000 personnes (entreprises exclues) au niveau international. De plus, grâce à nos
          réseaux sociaux et événements, vous aurez une visibilité accrue au sein de la communauté technologique de
          Montréal.​
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info">
        <span class="material-icons" style="color: #D6CE15" *ngIf="!this.mobileQuery.matches">public</span>
        <h4 class="info-title"><span class="material-icons" style="color: #D6CE15" *ngIf="this.mobileQuery.matches">public</span> Valeurs environnementales</h4>
        <hr class="line-warning" style="border-color: #038200"/>
        <p>
          S’associer à notre projet permet aux entreprises de faire connaître leur conscience environnementale auprès de
          la communauté. Le volet novateur de ce nouveau prototype, en lien avec les énergies renouvelables, avantagera
          toute entreprise participante.​
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info">
        <span class="material-icons" style="color: #D6CE15" *ngIf="!this.mobileQuery.matches">thumb_up</span>
        <h4 class="info-title"><span class="material-icons" style="color: #D6CE15" *ngIf="this.mobileQuery.matches">thumb_up</span> Partenariat unique</h4>
        <hr class="line-warning" style="border-color: #038200"/>
        <p>
          L’ÉTS forme des ingénieurs et des chercheurs reconnus pour leur approche pratique et innovatrice. Depuis sa
          création, elle entretient un partenariat unique avec le milieu des affaires et l’industrie, tant avec les
          grandes entreprises que les PME.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>

