<section class="section section-lg">
  <div class="container" style="text-align: justify">

    <h1>{{ "Partenaires.Titre" | translate}}</h1>
    <img width="100%" height="auto"src="assets/static/competition.jpg"/>
    <h5 class="description">{{ "Partenaires.Text1" | translate}}<span style="color: #038200;">{{ "Partenaires.Text2" | translate}}</span></h5>
    <div class="separator separator-primary" style="background-color: #038200; text-align: justify"></div>

    <div class="row row-grid justify-content-between">
      <div class="col-md-5 mt-lg-5">
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-etudiants-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">school</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">10 600</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-etudiants" | translate}}</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-competition-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+900</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-competition" | translate}}</h4>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-domaine-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">miscellaneous_services</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">6</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-domaine" | translate}}</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-evenement-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+4 000</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-evenement" | translate}}</h4>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="pl-md-5" style="text-align: justify">
          <h3>{{ "Partenaires.Sous-titre" | translate}}
          </h3>
          <p>{{ "Partenaires.Text3" | translate}}</p>
          <p>{{ "Partenaires.Text4" | translate}}</p>
          <br/>
          <a
            class="font-weight-bold text-info mt-5"
            href="{{this.language === 'fr'? this.lienFrancais: this.lienAnglais}}"
            download
          >
            {{ "Partenaires.Doc-partenaria" | translate}} <i class="material-icons"
                                                         style="font-size: medium">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="text-center">{{ "Partenaires.Avantages.Titre" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">remove_red_eye</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">remove_red_eye</span>
            {{ "Partenaires.Avantages.Titre1" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>

          <p>
            {{ "Partenaires.Avantages.Text1" | translate}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">public</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">public</span>
            {{ "Partenaires.Avantages.Titre2" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>
          <p>
            {{ "Partenaires.Avantages.Text2" | translate}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">thumb_up</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">thumb_up</span>
            {{ "Partenaires.Avantages.Titre3" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>
          <p>
            {{ "Partenaires.Avantages.Text3" | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>{{ "Partenaires.Objectif.Titre" | translate}}</h3>
    <span class="donation--title">{{ "Partenaires.Objectif.Objectif" | translate}}: </span>
    <span id="donation--goal" class="donation--goal"></span>
    <div class="donation--bar">
      <div class="donation--rounded">
        <div id="donation--progress" class="donation--progress" style="width: 0;"></div>
      </div>
      <div id="donation--number" class="donation--number" style="left: 0;"></div>
      <span id="donation--status" class="donation--status"></span>
    </div>
    <form class="form--container">
      <input id="donate" class="button" type="submit" value="{{ 'Partenaires.Objectif.Bouton-donnation' | translate}}"
             (click)="openDialog()">
    </form>
  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

