<section class="section section-lg">
  <div class="container" style="text-align: justify">

    <h1>{{ "Partenaires.Titre" | translate}}</h1>
    <img width="100%" height="auto"src="assets/static/competition.jpg"/>
    <h5 class="description">{{ "Partenaires.Text1" | translate}}<span style="color: #038200;">{{ "Partenaires.Text2" | translate}}</span></h5>
    <div class="separator separator-primary" style="background-color: #038200; text-align: justify"></div>

    <div class="row row-grid justify-content-between">
      <div class="col-md-5 mt-lg-5">
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-etudiants-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">school</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">10 600</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-etudiants" | translate}}</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-competition-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+900</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-competition" | translate}}</h4>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-domaine-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">miscellaneous_services</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">6</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-domaine" | translate}}</h4>
            </mat-card>
          </div>
          <div class="col-lg-6 col-sm-12 px-2 py-2">
            <mat-card style="width: 100%; height: 100%; text-align: center; margin-top: 5%;">
              <mat-card-title>{{ "Partenaires.Statistique-evenement-titre" | translate}}</mat-card-title>
              <span class="material-icons" style="font-size: xx-large">star</span>
              <h4 style="margin-top: 5%; margin-bottom: 2%">+4 000</h4>
              <h4 style="margin-top: 0;">{{ "Partenaires.Statistique-evenement" | translate}}</h4>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="pl-md-5" style="text-align: justify">
          <h3>{{ "Partenaires.Sous-titre" | translate}}
          </h3>
          <p>{{ "Partenaires.Text3" | translate}}</p>
          <p>{{ "Partenaires.Text4" | translate}}</p>
          <br/>
          <a
            class="font-weight-bold text-info mt-5"
            href="{{this.language === 'fr'? this.lienFrancais: this.lienAnglais}}"
            download
          >
            {{ "Partenaires.Doc-partenaria" | translate}} <i class="material-icons"
                                                         style="font-size: medium">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="text-center">{{ "Partenaires.Avantages.Titre" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">remove_red_eye</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">remove_red_eye</span>
            {{ "Partenaires.Avantages.Titre1" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>

          <p>
            {{ "Partenaires.Avantages.Text1" | translate}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">public</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">public</span>
            {{ "Partenaires.Avantages.Titre2" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>
          <p>
            {{ "Partenaires.Avantages.Text2" | translate}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <span class="material-icons" style="color: darkgreen" *ngIf="!this.mobileQuery.matches">thumb_up</span>
          <h4 class="info-title"><span class="material-icons" style="color: darkgreen" *ngIf="this.mobileQuery.matches">thumb_up</span>
            {{ "Partenaires.Avantages.Titre3" | translate}}</h4>
          <hr class="line-warning" style="border-color: #038200"/>
          <p>
            {{ "Partenaires.Avantages.Text3" | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>{{ "Partenaires.Objectif.Titre" | translate}}</h3>
    <span class="donation--title">{{ "Partenaires.Objectif.Objectif" | translate}}: </span>
    <span id="donation--goal" class="donation--goal"></span>
    <div class="donation--bar">
      <div class="donation--rounded">
        <div id="donation--progress" class="donation--progress" style="width: 0;"></div>
      </div>
      <div id="donation--number" class="donation--number" style="left: 0;"></div>
      <span id="donation--status" class="donation--status"></span>
    </div>
    <form class="form--container">
      <input id="donate" class="button" type="submit" value="{{ 'Partenaires.Objectif.Bouton-donnation' | translate}}"
             (click)="openDialog()">
    </form>
  </div>
  <div class="container">
    <h2 class="text-center">{{ "Partenaires.Liste.Titre" | translate}}</h2>
    <h3 class="text-center">{{ "Partenaires.Liste.Rang1" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://www.sandvik.coromant.com/fr-fr/pages/default.aspx">
          <img src="https://drive.google.com/uc?id=1qj1kTi0QPo453OT9bTYCVwjllKZRwraN" alt="logoSandvik"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.etsmtl.ca/Activites-et-services-aux-etudiants/Clubs-etudiants/Aeets">
          <img src="https://drive.google.com/uc?id=1KBzg3w1rouiIL7jpou418MJOnPpSN8lU" alt="logoAEETS"/></a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.etsmtl.ca/">
          <img src="https://drive.google.com/uc?id=1CKUTz91Fqu7oTT-IpXD_tB_ah9grN4eA" alt="logoETS"/>
        </a>
      </div>
    </div>
    <h3 class="text-center">{{ "Partenaires.Liste.Rang3" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://www.ansys.com/">
          <img src="https://drive.google.com/uc?id=13xPSc_yY2xfgy7Kn02RLmy_so43niNZJ" alt="logoAnsys"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.cegepmontpetit.ca/cta/a-propos-du-cta">
          <img src="https://drive.google.com/uc?id=1BWyIiM4kuPZuIjfMBzLCjzMo_3VNTiul" alt="logoCTA"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.solidworks.com/fr">
          <img src="https://drive.google.com/uc?id=1GbybhM6j_K94qZRj_oJQFvSpzV2ixMPi" alt="logoSolidWorks"/>
        </a>
      </div>
    </div>
    <h3 class="text-center">{{ "Partenaires.Liste.Rang4" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://optimum-canada.com/fr/">
          <img src="https://drive.google.com/uc?id=15ooR-GJHj5UL60kjBY5Tc7K-V3SGWhh-" alt="logoOptimumCanada"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="http://www.outils-concept.com/">
          <img src="https://drive.google.com/uc?id=10O6cYzc40YVfRO7K5Lmh2iP286057WJ8" alt="LogoOutilsConcept"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://s4suspension.com/">
          <img src="https://drive.google.com/uc?id=1wBgwzgqAcoqVAUeLgemYnAjnaA4eWcvX" alt="logoLBL"/>
        </a>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://www.skf.com/ca/fr">
          <img src="https://drive.google.com/uc?id=1oKY7gH_vuN2TZzSdZwVx5rGHrNIjo96a" alt="logoSKF"/>
        </a>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <a href="https://tesatechnology.com/en-us/home/">
          <img src="https://drive.google.com/uc?id=1D5TWWY6H22a3wbM5708C2UO9x8wAKFiV" alt="logoHexagon/tesa"/>
        </a>
      </div>
    </div>
    <h3 class="text-center">{{ "Partenaires.Liste.Rang5" | translate}}</h3>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://www.hlc.bike/ca/">
          <img src="https://drive.google.com/uc?id=1-03B6oMO1PnkzS3O3YI8zTEdM3d0uSZE" alt="logoCycleLambert"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://vention.io/fr">
          <img src="https://drive.google.com/uc?id=1UDunyaoHsykFO8F07wOqD52jk8psNjc3" alt="logoVentilon"/>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://vanguardsteel.com">
          <img src="https://drive.google.com/uc?id=1oR-Vb5KWgTVox22vAVo9wW4JYerqyP0M" alt="logoVanguardSteel"/>
        </a>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <a href="https://www.thk.com/?q=us/node/5221&gclid=CjwKCAjwtdeFBhBAEiwAKOIy5_rftocCqNI6xhalwNYaaDybCO890s-CExNdOhugFm1-rd2VS4b-khoCRMAQAvD_BwE">
          <img src="https://drive.google.com/uc?id=1lEKjI5TODzs0VgxzwggqZV-2Ep6HYFms" alt="logoTHK"/>
        </a>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <a href="https://www.millerwelds.com/">
          <img src="https://drive.google.com/uc?id=1IhURSIEgOk4WeoFgCK0P6X0x6quw5KgW" alt="logoMiller"/>
        </a>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

