<section class="section section-lg">
  <div class="container" style="text-align: justify">

    <h1>{{ "Galerie.Titre1" | translate}}</h1>
    <div class="container">
      <h2 class="text-center">{{ "Galerie.Titre3" | translate}}</h2>
      <div class="row" style="text-align: center;">
        <div class="col-lg-6">
          <img src="https://drive.google.com/uc?id=1h_vLbLJUQJKhEWC7O37jpGE88tjchVqZ" alt="EssieuAvant"/>
        </div>
        <div class="col-lg-6">
            <img src="https://drive.google.com/uc?id=1oSqx1s6y9pWASPay2pxPE8elpa2gvb-7" alt="EssieuArriere"/>
        </div>
      </div>
    </div>

  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

