<section class="section section-lg">
  <div class="container" style="text-align: justify">

    <h1>{{ "Galerie.Titre1" | translate}}</h1>
    <div class="container">
      <h2 style="color: darkgreen" class="text-center">{{ "Galerie.Titre2" | translate}}</h2>
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1Mtj0lbcwHQj9lcc2PN1UkOkbKSwx_6cF" alt="20210723_211905"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1Mp0VpJozM1y36BkSS7TaOwfV4F5Wrqx1" alt="20210723_211819"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1Mwo9CmUwZLP5z-G9SnhA--cAYj7cDd_Q" alt="20210723_211940"/>
        </div>
      </div>
      <h4 style="margin-top: 2%; margin-bottom: 2%"></h4>
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=12Kwazk1bJ0e6ZHnWyVGpSeoLnmjl6EhJ" alt="Soudure5"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1b4DFuUpJAa_z5xGsdGNnZNalfx7upV84" alt="Soudure2"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1Bt5A5R3Z2qtz3iTl439BWCj0H1asV8U9" alt="20210625_174139"/>
        </div>
      </div>
      <h4 style="margin-top: 2%; margin-bottom: 2%"></h4>
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1lK2b_lKp2gePJU8MheDa70MpHYYspa3u" alt="20210819_154040"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1IRuKZ_chsLLX-I4MtVsiAxbQS8I3ggTO" alt="20210819_154001"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1d_qtxSDiC02DL8T4_7NUNGuAdg2fl1lI" alt="20210819_153911"/>
        </div>
      </div>
      <h4 style="margin-top: 2%; margin-bottom: 2%"></h4>
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1Nu3CDCTrf7LfP-MoOcr3W0y8yCOBWegG" alt="20210819_153835"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1DNLv-YbCxpW8ZrP0YT-QXZuS7mAgBSrG" alt="20210819_153807"/>
        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1gdlGGa0VpjrjnaeUBhLG_m9tYQG6QXWY" alt="20210819_212713"/>
        </div>
      </div>
      <h4 style="margin-top: 2%; margin-bottom: 2%"></h4>
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <img src="https://drive.google.com/uc?id=1C3jK8J3YaGKk_Cgi8R3Eiic4LJiB7Wfh" alt="20210625_174113"/>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
      <h2 style="color: darkgreen" class="text-center">{{ "Galerie.Titre3" | translate}}</h2>
      <div class="row" style="text-align: center;">
        <div class="col-lg-6">
          <img src="https://drive.google.com/uc?id=1h_vLbLJUQJKhEWC7O37jpGE88tjchVqZ" alt="EssieuAvant"/>
        </div>
        <div class="col-lg-6">
            <img src="https://drive.google.com/uc?id=1oSqx1s6y9pWASPay2pxPE8elpa2gvb-7" alt="EssieuArriere"/>
        </div>
      </div>
    </div>

  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

