<section class="section section-lg">
  <div class="container">
    <h1>{{ "Projet.Titre" | translate}}</h1>
    <h5 class="description" style="text-align: justify">{{ "Projet.Text1" | translate}}
    </h5>
    <div class="separator separator-primary" style="background-color: #038200; text-align: justify"></div>
    <div class="section-story-overview">
      <div class="row">
        <div class="col-md-6">
          <div class="image-container image-left"
               style="background-image: url('assets/static/vehicule1.png')">
            <!-- First image on the left side -->
            <p class="blockquote blockquote-primary"
               style="border-color: darkgreen; color: darkgreen; text-align: justify; max-width:400px; min-width:350px">{{ "Projet.Citation" | translate}}
            </p>
          </div>       <!-- Second image on the left side of the article -->
          <div class="image-container"
               style="background-image: url('assets/static/genie-mecanique-ets.jpg'); margin-top: 250px;"></div>
        </div>
        <div class="col-md-5" style="text-align: justify">
          <!-- First image on the right side, above the article -->
          <div class="image-container image-right"
               style="background-image: url('assets/static/vehicule2.png')"></div>
          <h3>{{ "Projet.Sous-titre" | translate}}</h3>
          <p style="color: #038200; font-size: 110%;">{{ "Projet.Text2" | translate}}
          </p>
          <p>{{ "Projet.Text3" | translate}}
          </p>
          <p>{{ "Projet.Text4" | translate}} <span
            style="color: #038200; font-size: 110%;"><b>{{ "Projet.Text5" | translate}}</b> </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
