<section class="section section-lg">
  <div class="container">
    <h1>{{ "Equipe.Titre" | translate}}</h1>
    <h5 class="description" style="text-align: justify">{{ "Equipe.Text1" | translate}}
    </h5>

    <div class="separator separator-primary" style="background-color: #038200; text-align: justify"></div>
    <div class="row row-grid"
         style="justify-content: space-between; width: 100%; margin-right: auto; margin-left: auto">
      <div class="col-md-3">
        <img class="img-fluid floating" src="assets/static/histoire_veloom.png"
             style="width: 100%; height: auto; margin-right: auto; margin-left: auto"/>
      </div>
      <div class="col-md-8" style="margin-right: 0; padding-right: 0;">
        <div class="px-md-5" style="text-align: justify">
          <h3>{{ "Equipe.Sous-titre1" | translate}}</h3>
          <p>
            {{ "Equipe.Text2" | translate}}<span style="font-size: 110%; color: #038200">{{ "Equipe.Text3" | translate}}</span>
          </p>
          <p>
            {{ "Equipe.Text4" | translate}}
          </p>
          <p class="blockquote blockquote-primary"
             style="border-color: #038200; color: #038200; text-align: justify; width:fit-content; float: right; padding: 5px">
            {{ "Equipe.Citation" | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3>{{ "Equipe.Sous-titre2" | translate}}</h3>
      <div *ngIf="this.is_loaded" class="container">
        <div class="row">
          <div class="col-md-3 col-sm-9" *ngFor="let member of this.memberList" style="padding-top: 2%">
            <h5 style="text-align: center">{{this.language==='fr'? member.titre : member.titreEn}}</h5>
            <div class="card team-card" style="box-shadow: none; min-height: 250px;">
              <div class="card__bg team-card__bg u-show-phablet"
                   style="background-position: center top; box-shadow: none"
                   [ngStyle]="{'background-image':'url(' + member.lien +')'}"></div>
              <div class="card__bg team-card__bg u-hide-phablet" style="background-position: center top"
                   [ngStyle]="{'background-image':'url('+ member.lien +')'}"></div>
              <div
                [ngClass]="this.getIsYellow()? 'card__inner team-card__inner YY': 'card__inner team-card__inner DD'">
                <div class="card__info team-card__info">
                  <div class="card__details">
                    <h3 class="card__title"><br></h3>
                    <p class="card__subtitle u-hide-phablet">
                      <b>{{member.prenom}} {{member.nom}}</b>
                    </p>
                    <p class="card__subtitle u-hide-phablet">
                      <b>{{this.language ==='fr'? member.programme: member.programmeEn}}</b>
                    </p>
                    <div class="team-card__wins team-card__wins--no-wins">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>
