<section>
  <div class="hero-wrap js-fullheight" [ngStyle]="{'background-image': !this.mobileQuery.matches? 'url(\'assets/static/e-fest.jpg\')' : ''}"
       data-stellar-background-ratio="0.6">
    <div class="overlay" style="height: 60%; margin-top: 10%"></div>
    <div class="container" style="height: 80%">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
           data-scrollax-parent="true" style="margin-top: 15%; display: block;text-align: justify" [ngClass]="{largeWidth: this.mobileQuery.matches, smallWidth: !this.mobileQuery.matches}">
        <h1 style="color: #038200;">ASME</h1>
        <h5 class="description" style="color: #038200;">Festival de l'ingénierie</h5>
        <h5 class="description" style="color: #038200;">Avril, 2021. Michigan, États-Unis</h5>
        <p>À pour but de participer à l’avancement de l'ingénierie pour le bienfait de l'humanité depuis 1880. La notoriété de l’ASME se reflète par la mise en vigueur des normes utilisées dans tous les domaines de l’ingénierie et de la science. </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <img src="assets/static/volets.png" style="height: 100px; width: 100px;">
            <h3 style="margin-bottom: 0">Volets de la compétitions</h3>
            <p>Véhicule à propulsion humaine, compétition de design, vulgarisation scientifique, innovation.
            </p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <img src="assets/static/conferences.png" style="height: 100px; width: 100px;">
            <h3 style="margin-bottom: 0">Conférences</h3>
            <p>Conférences offertes par des pionniers de l'industrie de l'ingénierie sur les innovations, des futures technologies et leurs organisations.</p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <img src="assets/static/reseautage.png" style="height: 100px; width: 100px;">
            <h3 style="margin-bottom: 0">Réseautage</h3>
            <p>Une possibilité de rencontrer des professionnels de différentes expertises. En plus, d’avoir la chance de côtoyer de grandes entreprises de partout dans le monde.</p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <img src="assets/static/atelier.png" style="height: 100px; width: 100px;">
            <h3 style="margin-bottom: 0">Ateliers interactifs</h3>
            <p>Séances d’ateliers collaboratifs facilitant l’apprentissage de nouveaux logiciels et du perfectionnement avec des experts dans le domaine.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <img src="assets/static/e-fest-statistics.jpg"/>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3" style="text-align: justify">
          <div class="col-md-12 heading-section">
            <h2 class="mb-4">La compétition</h2>
            <p>Le E-Fest, un festival pour célébrer l’ingénierie. Des compétitions de véhicules à propulsion humaine (HPVC), de design d’une solution à un problème, d’impression 3D, de vulgarisation scientifique et d’une présentation efficace et percutante.</p>
            <p><span style="color: #038200; font-size: 110%;">Notre objectif est de compétitionner</span> et participer à l’évènement de l’ASME E-Fest dans la catégorie du véhicule à propulsion humaine (HPVC) contre une 50aine d’équipes canadiennes et américaines.</p>
            <a class="font-weight-bold text-info mt-5" href="https://efests.asme.org/">Site web de la compétition <i class="material-icons" style="font-size: small">arrow_forward</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">people_alt</span>
                </div>
                <p>55</p>
                <p>Équipes</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">public</span>
                </div>
                <p>21</p>
                <p>Pays</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">school</span>
                </div>
                <p>+800</p>
                <p>Étudiants</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">category</span>
                </div>
                <p>4</p>
                <p>Épreuves</p>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

