<section>
  <div class="hero-wrap js-fullheight"
       [ngStyle]="{'background-image': !this.mobileQuery.matches? 'url(\'assets/static/e-fest.jpg\')' : ''}"
       data-stellar-background-ratio="0.6">
    <div class="overlay" style="height: 60%; margin-top: 10%"></div>
    <div class="container" style="height: 80%">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
           data-scrollax-parent="true" style="margin-top: 10%; display: block;text-align: justify"
           [ngClass]="{largeWidth: this.mobileQuery.matches, smallWidth: !this.mobileQuery.matches}">
        <h1 style="color: #038200;">ASME</h1>
        <h5 class="description" style="color: #038200;">{{ "Competitions.Presentation-ASME.Festival" | translate}}</h5>
        <h5 class="description" style="color: #038200;">{{ "Competitions.Presentation-ASME.Date" | translate}}</h5>
        <p>{{ "Competitions.Presentation-ASME.Description" | translate}}</p>
      </div>
    </div>
  </div>
</section>
<section [ngStyle]="{'margin-top': !this.mobileQuery.matches? '200px' : '100px'}">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <span class="material-icons" style="color: darkgrey; font-size: 80px">star</span>
          <h3 style="margin-bottom: 0; color: darkgreen">{{ "Competitions.Description-competition.Titre1" | translate}}</h3>
          <p>{{ "Competitions.Description-competition.Text1" | translate}}
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <span class="material-icons" style="color: darkgrey; font-size: 80px">record_voice_over</span>
          <h3 style="margin-bottom: 0; color: darkgreen">{{ "Competitions.Description-competition.Titre2" | translate}}</h3>
          <p>{{ "Competitions.Description-competition.Text2" | translate}}</p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <span class="material-icons" style="color: darkgrey; font-size: 80px">groups</span>
          <h3 style="margin-bottom: 0; color: darkgreen">{{ "Competitions.Description-competition.Titre3" | translate}}</h3>
          <p>{{ "Competitions.Description-competition.Text3" | translate}}</p>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block" style="text-align: center;">
          <span class="material-icons" style="color: darkgrey; font-size: 80px">engineering</span>
          <h3 style="margin-bottom: 0; color: darkgreen">{{ "Competitions.Description-competition.Titre4" | translate}}</h3>
          <p>{{ "Competitions.Description-competition.Text4" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex" [ngStyle]="{'margin-top': !this.mobileQuery.matches? '10%' : '0'}"
           style="text-align: center">
        <img src="assets/static/e-fest-statistics.jpg"/>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3" style="text-align: justify">
          <div class="col-md-12 heading-section">
            <h2 class="mb-4">{{ "Competitions.Competition.Titre" | translate}}</h2>
            <p>{{ "Competitions.Competition.Text1" | translate}}</p>
            <p><span style="color: #038200; font-size: 110%;">{{ "Competitions.Competition.Text2" | translate}}</span> {{ "Competitions.Competition.Text3" | translate}}</p>
            <a class="font-weight-bold text-info mt-5" href="https://efests.asme.org/">{{ "Competitions.Competition.Lien-site" | translate}} <i
              class="material-icons" style="font-size: small">arrow_forward</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">people_alt</span>
                </div>
                <p>55</p>
                <p>{{ "Competitions.Competition.Statistique-equipes" | translate}}</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">public</span>
                </div>
                <p>21</p>
                <p>{{ "Competitions.Competition.Statistique-pays" | translate}}</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">school</span>
                </div>
                <p>+800</p>
                <p>{{ "Competitions.Competition.Statistique-etudiants" | translate}}</p>
              </mat-card>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap" style="margin-top: 5%">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <mat-card style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="material-icons" style="font-size: xx-large">category</span>
                </div>
                <p>4</p>
                <p>{{ "Competitions.Competition.Statistique-epreuves" | translate}}</p>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<app-footer></app-footer>

